<h1>@Model.GetName()</h1>

<li>@Model.GetName()</li>
<li>@Model.GetPhoneNumber()</li>
<li>@Model.GetAddress()</li>


<a href='/contact/create'>Add another contact</a>
<a href='/ContactList'>View all contacts</a>
